<!doctype html>
<html lang="en">
  <head>
    <%- include('partials/header') %>
    <link rel="stylesheet" href="/css/game.css" />
    <title><%= title %></title>
    <script src="/scripts/games.js" defer></script>
    <script src="/scripts/chat.js" defer></script>
  </head>
  <body>
    <%- include('partials/navbar') %>
    <h1 class="m-5 text-center">Game <%= id %></h1>

    <div class="hand player-one-hand"></div>
    <div class="hand player-two-hand"></div>
    <div class="hand player-three-hand"></div>
    <div class="hand player-four-hand"></div>

    
    <div class="main-container text-center">
      <div class="row">
        <div class="col-md-8 justify-content-center">
          <div class="container px-1 ml-4 mr-1 text-center">
            <div class="row">
              <div class="col d-flex flex-row aside-left text-center">
                <div class="col-5 me-auto col-aside-1">
                  Name and Points Here
                </div>
                <div class="col-5 col-aside-2">
                  <!-- eleven elements, all same sizes that slightly overlap organized horizontally -->
                  <div class="row-1 row-aside-1">
                    <img
                      class="card-side"
                      src="/images/card-back-red.png"
                      alt="card-1"
                    />
                  </div>
                  <div class="row-1 row-aside-2">
                    <img
                      class="card-side"
                      src="/images/card-back-red.png"
                      alt="card-2"
                    />
                  </div>
                  <div class="row-1 row-aside-3">
                    <img
                      class="card-side"
                      src="/images/card-back-red.png"
                      alt="card-3"
                    />
                  </div>
                  <div class="row-1 row-aside-4">
                    <img
                      class="card-side"
                      src="/images/card-back-red.png"
                      alt="card-4"
                    />
                  </div>
                  <div class="row-1 row-aside-5">
                    <img
                      class="card-side"
                      src="/images/card-back-red.png"
                      alt="card-5"
                    />
                  </div>
                  <div class="row-1 row-aside-6">
                    <img
                      class="card-side"
                      src="/images/card-back-red.png"
                      alt="card-6"
                    />
                  </div>
                  <div class="row-1 row-aside-7">
                    <img
                      class="card-side"
                      src="/images/card-back-red.png"
                      alt="card-7"
                    />
                  </div>
                  <div class="row-1 row-aside-8">
                    <img
                      class="card-side"
                      src="/images/card-back-red.png"
                      alt="card-8"
                    />
                  </div>
                  <div class="row-1 row-aside-9">
                    <img
                      class="card-side"
                      src="/images/card-back-red.png"
                      alt="card-9"
                    />
                  </div>
                  <div class="row-1 row-aside-10">
                    <img
                      class="card-side"
                      src="/images/card-back-red.png"
                      alt="card-10"
                    />
                  </div>
                  <div class="row-1 row-aside-11">
                    <img
                      class="card-side"
                      src="/images/card-back-red.png"
                      alt="card-11"
                    />
                  </div>
                </div>
              </div>

              <div class="col central text-center">
                <div class="row-1 mb-2 row-central-1">Name and Points Here</div>

                <div class="row-3 justify-content-center row-central-2">
                  <!-- eleven elements, all same sizes that slightly overlap organized horizontally -->
                  <div class="col-1 col-central card">
                    <img
                      class="card-central"
                      src="/images/card-back-red.png"
                      alt="card-1"
                    />
                  </div>
                  <div class="col-1 col-central card">
                    <img
                      class="card-central"
                      src="/images/card-back-red.png"
                      alt="card-2"
                    />
                  </div>
                  <div class="col-1 col-central card">
                    <img
                      class="card-central"
                      src="/images/card-back-red.png"
                      alt="card-3"
                    />
                  </div>
                  <div class="col-1 col-central card">
                    <img
                      class="card-central"
                      src="/images/card-back-red.png"
                      alt="card-4"
                    />
                  </div>
                  <div class="col-1 col-central card">
                    <img
                      class="card-central"
                      src="/images/card-back-red.png"
                      alt="card-5"
                    />
                  </div>
                  <div class="col-1 col-central card">
                    <img
                      class="card-central"
                      src="/images/card-back-red.png"
                      alt="card-6"
                    />
                  </div>
                  <div class="col-1 col-central card">
                    <img
                      class="card-central"
                      src="/images/card-back-red.png"
                      alt="card-7"
                    />
                  </div>
                  <div class="col-1 col-central card">
                    <img
                      class="card-central"
                      src="/images/card-back-red.png"
                      alt="card-8"
                    />
                  </div>
                  <div class="col-1 col-central card">
                    <img
                      class="card-central"
                      src="/images/card-back-red.png"
                      alt="card-9"
                    />
                  </div>
                  <div class="col-1 col-central card">
                    <img
                      class="card-central"
                      src="/images/card-back-red.png"
                      alt="card-10"
                    />
                  </div>
                  <div class="col-1 col-central card">
                    <img
                      class="card-central"
                      src="/images/card-back-red.png"
                      alt="card-11"
                    />
                  </div>
                </div>

                <div
                  class="row-4 d-flex row-central-3 align-self-center justify-content-evenly"
                >
                  <div class="row-4 align-self-center">
                    <div class="col-1 col-central-1">
                      <img
                        class="card-side"
                        src="/images/card-back-red.png"
                        alt="card-11"
                      />
                    </div>
                  </div>
                  <div class="row-4">
                    <div class="d-flex mb-2 mt-2">
                      <div class="col-1 me-auto col-central-1">
                        <img
                          class="card-side"
                          src="/images/card-back-red.png"
                          alt="card-11"
                        />
                      </div>

                      <div class="col-1 ms-auto col-central-2">
                        <img
                          class="card-side"
                          src="/images/card-back-red.png"
                          alt="card-11"
                        />
                      </div>
                    </div>
                  </div>
                  <div class="row-4 align-self-center">
                    <div class="col-1 col-central-1">
                      <img
                        class="card-side"
                        src="/images/card-back-red.png"
                        alt="card-11"
                      />
                    </div>
                  </div>
                </div>

                <div class="row-3 justify-content-center row-central-4">
                  <!-- eleven elements, all same sizes that slightly overlap organized horizontally -->
                  <div class="col-1 col-central card">
                    <img
                      class="card-central"
                      src="/images/card-back-red.png"
                      alt="card-1"
                    />
                  </div>
                  <div class="col-1 col-central card">
                    <img
                      class="card-central"
                      src="/images/card-back-red.png"
                      alt="card-2"
                    />
                  </div>
                  <div class="col-1 col-central card">
                    <img
                      class="card-central"
                      src="/images/card-back-red.png"
                      alt="card-3"
                    />
                  </div>
                  <div class="col-1 col-central card">
                    <img
                      class="card-central"
                      src="/images/card-back-red.png"
                      alt="card-4"
                    />
                  </div>
                  <div class="col-1 col-central card">
                    <img
                      class="card-central"
                      src="/images/card-back-red.png"
                      alt="card-5"
                    />
                  </div>
                  <div class="col-1 col-central card">
                    <img
                      class="card-central"
                      src="/images/card-back-red.png"
                      alt="card-6"
                    />
                  </div>
                  <div class="col-1 col-central card">
                    <img
                      class="card-central"
                      src="/images/card-back-red.png"
                      alt="card-7"
                    />
                  </div>
                  <div class="col-1 col-central card">
                    <img
                      class="card-central"
                      src="/images/card-back-red.png"
                      alt="card-8"
                    />
                  </div>
                  <div class="col-1 col-central card">
                    <img
                      class="card-central"
                      src="/images/card-back-red.png"
                      alt="card-9"
                    />
                  </div>
                  <div class="col-1 col-central card">
                    <img
                      class="card-central"
                      src="/images/card-back-red.png"
                      alt="card-10"
                    />
                  </div>
                  <div class="col-1 col-central card">
                    <img
                      class="card-central"
                      src="/images/card-back-red.png"
                      alt="card-11"
                    />
                  </div>
                </div>

                <div class="row-1 mt-2 row-central-5">Name and Points Here</div>
              </div>

              <div class="col d-flex flex-row-reverse aside-right text-center">
                <div class="col-5 ms-auto col-aside-1">
                  Name and Points Here
                </div>
                <div class="col-5 col-aside-2">
                  <!-- eleven elements, all same sizes that slightly overlap organized vertically -->
                  <div class="row-1 row-aside-1">
                    <img
                      class="card-side"
                      src="/images/card-back-red.png"
                      alt="card-1"
                    />
                  </div>
                  <div class="row-1 row-aside-2">
                    <img
                      class="card-side"
                      src="/images/card-back-red.png"
                      alt="card-2"
                    />
                  </div>
                  <div class="row-1 row-aside-3">
                    <img
                      class="card-side"
                      src="/images/card-back-red.png"
                      alt="card-3"
                    />
                  </div>
                  <div class="row-1 row-aside-4">
                    <img
                      class="card-side"
                      src="/images/card-back-red.png"
                      alt="card-4"
                    />
                  </div>
                  <div class="row-1 row-aside-5">
                    <img
                      class="card-side"
                      src="/images/card-back-red.png"
                      alt="card-5"
                    />
                  </div>
                  <div class="row-1 row-aside-6">
                    <img
                      class="card-side"
                      src="/images/card-back-red.png"
                      alt="card-6"
                    />
                  </div>
                  <div class="row-1 row-aside-7">
                    <img
                      class="card-side"
                      src="/images/card-back-red.png"
                      alt="card-7"
                    />
                  </div>
                  <div class="row-1 row-aside-8">
                    <img
                      class="card-side"
                      src="/images/card-back-red.png"
                      alt="card-8"
                    />
                  </div>
                  <div class="row-1 row-aside-9">
                    <img
                      class="card-side"
                      src="/images/card-back-red.png"
                      alt="card-9"
                    />
                  </div>
                  <div class="row-1 row-aside-10">
                    <img
                      class="card-side"
                      src="/images/card-back-red.png"
                      alt="card-10"
                    />
                  </div>
                  <div class="row-1 row-aside-11">
                    <img
                      class="card-side"
                      src="/images/card-back-red.png"
                      alt="card-11"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div id="lobbyChat">
          <%- include('partials/chat', { roomId: id }) %>
        </div>
      </div>
      
    </div>
    
    <input
      type="hidden"
      name="game-socket-id"
      id="game-socket-id"
      value="<%= gameSocketId %>"
    />
    <input
      type="hidden"
      name="user-socket-id"
      id="user-socket-id"
      value="<%= userSocketId %>"
    />  
    <%- include('partials/footer') %>

    <template id="card">
      <div class="card"></div>
    </template>
    
  </body>
</html>
